<%= div_for post do %>
  <h2><%= link_to post.title, post %></h2>
  <div class="date">
    <%= l post.created_at, :format => :post %>
  </div>
  <div class="content">
    <%= post.content %>
  </div>
<% end %>
