<% if @posts.empty? %>
  <p>
    No posts!
  </p>
<% else %>
  <% for post in @posts %>
    <%= div_for post do %>
      <h2><%= link_to post.title, post %></h2>
      <div class="content">
        <%= post.content %>
      </div>
    <% end %>
  <% end %>
<% end %>
